@{
    Layout = "~/Views/Shared/_SurveyLayout.cshtml";
}

<br />
<h2 class="text-center">The survey is now complete.</h2>
<br />
<h3 class="text-center">Thank you for your participation.</h3>
<br />
<br />
<br />